#flash-message {
  .container {
    border-width: 0px;
    padding: 0px;

    .span4 {
      margin: auto auto;
      margin-top: 15px;
      position: absolute;
      left: 0px;
      right: 0px;

      .alert {
        text-align: center;
        position: relative;
        margin: 0;
      }
    }
  }
}
