.twitter-white-16 {
  background-image: url('../img/social/twitter-white-16.png');
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-white-16 {
  background-image: url('../img/social/facebook-white-16.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px;
}

input {
  .circle-16,
  &.circle-16 {
    .facebook-white-16,
    .twitter-white-16,
    &.facebook-white-16,
    &.twitter-white-16 {
      padding: 16px;
    }
  }
}
