{% macro button(text, id=None, size=None, color=None, type="button", bind=None) -%}
<span class="theme-button{% if type != 'button' %} theme-button-{{ type }}{% endif %}{% if size %} theme-button-{{ size }}{% endif %}">
  <span class="theme-button-inset{% if color %} {{ color }}-background{% endif %}"></span>
  <input {% if id %}id="{{ id }}"{% endif %}type="{{ type }}"{% if text %} value="{{ text }}"{% endif %}{% if bind %} data-bind="{{ bind }}"{% endif %} />
</span>
{%- endmacro %}

{% macro button_submit(text, id=None, size=None, color=None) -%}
  {{ button(text, id=id, size=size, color=color, type="submit", **kwargs) }}
{%- endmacro %}

{% macro button_anchor(href, id=None, size=None, color=None, bind=None) -%}
<span class="theme-button theme-button-a{% if size %} theme-button-{{ size }}{% endif %}">
  <span class="theme-button-inset{% if color %} {{ color }}-background{% endif %}"></span>
  <a {% if id %}id="{{ id }}" {% endif %}href="{{ href }}"{% if bind %} data-bind="{{ bind }}"{% endif %}>{{ caller() }}</a>
</span>
{%- endmacro %}
