<div class="container">
  <div class="row">
    <div class="span12">
      <ol>
        <li><a href="javascript:void(0)">Home</a></li>
        <li><a href="javascript:void(0)">About Us</a></li>
        <li><a href="javascript:void(0)">Fees</a></li>
        <li><a href="javascript:void(0)">FAQ</a></li>
        <li><a href="javascript:void(0)">TOU</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
        <li><a href="javascript:void(0)">Contact Us</a></li>
      </ol>
    </div>
  </div>
</div>
