<div class="global">
  <div class="container">
    <div class="row">
      <div class="span2 logo">
        <h2>poold.in</h1>
      </div>
      <nav class="span7">
        <a href="javascript:void(0)">Home</a>
        <span class="sep">|</span>
        <a href="{{ url_for('campaign_create') }}">Create a Campaign</a>
        <span class="sep">|</span>
        <a href="javascript:void(0)">How it works</a>
        <span class="sep">|</span>
        <a href="{{ url_for('campaign_details', id=1) }}">Example Campaigns</a>
      </nav>
      <div class="span2 profile">
        <div class="wrapper rounded-top">
          <img class="rounded-top" alt="racoon" src="{{ url_for('static', filename='img/mock/profile.png') }}" />
        </div>
      </div>
      <div class="span1 welcome">
        <div>Welcome Back, Racoon!</div>
      </div>
    </div>
  </div>
</div>
