{% from 'macros/button.html' import button, button_submit %}
<div id="uploader" class="modal hide fade" style="display: none" data-bind="with: uploader">
  <form data-bind="submit: submit">
    <div class="modal-body">
      <h3>Upload</h3>
      <p>Select an image or video file on your computer.</p>
      {{ button("Choose File", color="dark-gray") }}
      <em>No file selected</em>
      <div class="section-break">
        <div class="divider"></div>
        <div class="content">or</div>
      </div>
      <h3>Paste Image/Video Url</h3>
      <p>Copy the image or video url and paste below. (only youtube video urls are supported)</p>
      <input type="text" name="url" class="block" />
    </div>
    <div class="modal-footer">
      {{ button_submit("Done", color="green", bind="click: cancel") }}
      {{ button("Cancel", bind="click: cancel") }}
    </div>
  </form>
</div>
