.campaign-details {
  header {
    margin-bottom: 10px;

    .actions {
      a {
        font-weight: bold;
        color: @black;

        &:hover {
          color: @black;
          text-decoration: none;
        }
      }
    }
  }

  #campaign-header {
    background-color: @background-header;

    .container {
      position: relative;
      height: 220px;

      .img {
        position: absolute;
        left: -2.5%;
        width: 105%;
        height: 100%;
      }

      .row {
        position: absolute;
        width: 100%;
        bottom: 0px;
      }
    }

    .campaign-name {
      background: @background;
      padding: 20px 30px;
      margin-left: -30px;
    }
  }

  #campaign-management {
    .container {
      border-width: 0px;
      padding: 15px 0px 30px;

      h2, ul, ol {
        margin: 0px;
      }

      table {
        width: 100%;
        td {
          &.date {
            width: 80px;
            text-align: left;
            color: @teal;
          }
        }
      }

      table, ul, ol, p {
        font-style: italic;

        a,
        &.nav-tabs {
          font-style: normal;
        }
      }

      .row {
        .row {
          margin: inherit;
          padding: inherit;
          padding: 20px 12px;

          .span4,
          .span8 {
            margin-left: 0px;
          }
        }
      }
      .summary,
      .history {
        table, ul, ol {
          font-style: italic;
        }
      }

      .actions {
        margin-top: 20px;
      }

      #manage {
        .actions {
          margin-top: 0px;
          text-align: right;
        }
      }

      .span4 {
        &.left {
          margin-right: -5px;
        }

        &.center {
          border-left: solid 2px @gray;
          border-right: solid 2px @gray;
          padding-left: 15px;
          margin-right: 15px;
        }
      }

      .span4 {
        h2 {
          margin-top: 30px;

          &:first-child {
            margin-top: 0px;
          }
        }
      }

      label {
        line-height: 1.5em;
        font-size: 14px;

        &.block {
          .h3 {
            margin-top: 15px;
          }
        }

        input {
          margin-right: 5px;
        }
      }
    }
  }

  #campaign-meta {
    .social {
      padding: 15px 0px;
    }
  }

  #campaign-status {
    .media {
      a,
      .primary {
        padding: 4px;
        background-color: @white;
      }

      .secondary {
        padding: 10px 0px;

        a {
          .inline-block;
          vertical-align: top;
          margin: 0px 15px 0px 0px;

          img {
            max-width: 130px;
            max-height: 130px;
          }
        }
      }
    }
    .status {
      hr {
        border-top-color: @gray;
        border-bottom-color: @gray;
        margin: 15px 0px;
      }

      h2 {
        font-size: 5.2em;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 0.8em;
      }

      h3 {
        font-family: inherit;
        font-size: 1.1em;
        margin: 0px;
        line-height: 1.4em;
      }
      .halo {
        padding: 20px 30px;
        background-color: @white;
      }

      .span2, .span4 {
        margin-left: 0px;
      }
      .metrics {
        h3 {
          text-transform: uppercase;
        }

        .total, .poold {
          font-weight: bold;
          font-size: 2.5em;
          margin-top: 5px;
          line-height: 1em;
          font-family: Knockout;
        }
      }

      .time {
        h3 {
          color: @dark-gray;
          font-style: italic;
          font-family: Georgia;
          font-weight: normal;
        }

        .days,
        .hours,
        .minutes,
        .seconds {
          font-family: Knockout;
          font-weight: bold;
          font-size: 2.8em;
          line-height: 1.4em;
          padding: 5px;
          text-transform: lowercase;
        }

        .seconds {
          padding: 5px 8px;
        }
      }

      .call-to-action {
        text-align: center;
        padding: 10px;
        width: 220px;

        .pie {
          color: @dark-gray;
          margin-top: 20px;

          .layer {

            h3 {
              font-family: Knockout;
              font-weight: bold;
              margin-top: 65px;
              font-size: 3.8em;
              line-height: 1em;
              letter-spacing: 2px;
            }
            h4 {
              margin: 0px;
              font-family: inherit;
              font-size: 1.1em;
            }
          }
        }

        .theme-button {
          margin-top: 20px;
        }
      }
    }
  }

  #campaign-description {
    .row {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    p {
      margin-top: 7px;
    }
  }

  #campaign-social {
    .row {
      background-color: @background-header;
    }

    ul.nav-tabs {
      margin-bottom: 0px;
    }

    .nav-tabs {
      background-color: @background-header;
      border: 0;

      a {
        color: @white;
        padding: 16px 12px;
        border: 0;
        .border-radius(0px);

        &:hover {
          color: @color;
          background: @light-gray;
        }
      }

      & > .active > a {
        color: @color;
        background: @light-gray;
      }
    }
  }

  #campaign-invitees,
  #campaign-messages {
    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
  }

  #campaign-invitees {
    .invitees {
      li {
        .inline-block;
        height: 120px;
        margin: 0px 10px 30px;

        .avatar {
          width: 100px;
          height: 100px;
          padding: 5px;
          background-color: @white;
          border: solid 1px @dark-gray;

          .overlay,
          .amount {
            line-height: 100px;
            font-size: 4em;
            color: #fff;
            font-family: Knockout;
            letter-spacing: 1px;
            font-weight: bold;
          }
          .overlay {
            background-color: @teal;
            .opacity(80);
          }
        }

        .name {
          text-align: center;
          width: 100px;
          margin-bottom: 10px;
        }
      }
    }

    .paging {
      input, a, span {
        color: @dark-gray;

        &.active {
          color: @black;
        }
      }

      .sep {
        padding: 0px 2px;
        margin: 0px 2px;
      }
      .next, .prev {
        font-size: 1.4em;
      }
    }

    img {
      max-width: 100px;
      max-height: 100px;
      *width: 100px;
      *height: 100px;
    }

    .actions {
      margin-top: -7px;
    }

    .filters {
      a, span {
        color: @background-header;
      }

      .active, a.active {
        font-weight: bold;
        cursor: default;
      }

      a, a:hover {
        text-decoration: none;
      }
    }
  }
}
