#payment {
  left: 0;
  right: 0;
  top: 20%;
  margin: 0 auto;
  width: 1170px;

  h2, h3, h4 {
    margin: 0;
    font-weight: normal;
  }

  h2 {
    line-height: 30px;
  }

  .header {
    margin: 0;
    min-width: 1140px;

    a {
      height: 12px;
      margin-right: 10px;
    }
  }

  .modal-body {
    height: 100%;
    max-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1140px;
  }

  .span2 {
    width: 125px;
    margin: 0;
    margin-right: 15px;
  }

  .span3 {
    width: 280px;
    margin: 0;
    padding-left: 25px;
  }

  .span4 {
    width: 340px;
    height: 356px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .span8 {
    margin: 0;
    width: 820px;
  }

  .right, .center {
    border-left: solid 1px @dark-gray;
  }

  .pie {
    color: @dark-gray;
    width: 150px;
    margin: 0;
    margin-left: 35px;
    margin-bottom: 10px;

    h3, h4 {
      width: 100%;
      text-align: center;
    }

    h3 {
      font-family: 'knockout49';
      font-weight: bold;
      margin-top: 35px;
    }

    h4 {
      margin: 0px;
      font-family: inherit;
      font-size: 1.1em;
    }
  }

  #modal-pie-chart, #modal-pie-chart-login, #modal-pie-chart-success {
    height: 150px;
    width: 150px;
  }

  .metrics hr, .time hr {
    margin: 5px 0;
  }

  .organizer {
    margin-left: 35px;

    h3 {
      line-height: 30px;
    }

    .span5 {
      margin: 0;
      margin-top: 10px;
    }

    .span1 {
      width: 50px;
      margin: 10px;
      margin-left: 0;
    }
  }

  .payment-information {

    h4, h5 {
      margin: 0;
      height: 20px;
    }

    .payment-amount {
        margin-top: 10px;
    }

    .name, .expiration, .cc {
      margin-bottom: 25px;
    }

    .name {

      h4 {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      input {
        width: 125px;
        margin-right: 10px;
      }
    }

    .card-number {
      width: 280px;
    }

    .expiration {
      margin-top: 40px;
      height: 30px;

      select {
        width: 75px;
        margin-right: 10px;
      }
    }

    .ccv {

      input {
        width: 60px;
        margin-right: 10px;
      }
    }

    .ccv-why {
      width: 40px;
      display: inline-block;
      position: absolute;
      margin-top: 5px;
      padding-left: 10px;

      h6 {
        margin: 0px;
        line-height: 10px;
      }
    }

    .exp-label, .ccv-label {
      width: 80px;
      display: inline-block;
      margin-right: 15px;

      h5 {
        line-height: 15px;
      }
    }
  }

  .billing-information {

    .address {
      margin-top: 30px;
    }

    .address-one, .address-two, .address-three {
      margin-bottom: 25px;
    }

    .street {
      width: 280px;
    }

    .address-two, .address-three {

      input {
        width: 125px;
        margin-right: 10px;
      }
    }
    .submit {

      .total {
        display: inline-block;
        width: 125px;
        margin-right: 15px;
      }
    }

    .charge-info {
      margin-top: 60px;
      font-size: 0.7em;
    }
  }

  #payment-processing {
    position: absolute;
    top: 0;
    left: 0;
    background-color: @teal;
    width: 100%;
    height: 100%;
    opacity: 0.85;

    .span12 {
      margin-left: 0;
      margin-top: 15%;
    }

    .message {
      font-family: 'knockout49';
      font-weight: normal;
      font-size: 2em;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .warning {
      font-family: 'knockout49';
      font-weight: lighter;
      font-size: 1.6em;
      text-align: center;
    }

    .processing-spinner {
      margin-left: 50%;
      margin-top: 40px;
      height: 40px;
    }
  }

  #payment-success {

    .thanks {
      font-family: 'knockout49';
      font-weight: bold;
      font-size: 2.2em;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .message {
      margin-left: 30px;
    }

    .records {
      margin-top: 15px;
      margin-bottom: 40px;
      width: 250px;
    }

    .next {
      margin-bottom: 15px;
    }

    .button {
      margin-left: -10px;
      margin-bottom: 10px;
    }

    .theme-button-small {
      width: 220px;

      input {
        font-size: 1.2em;
      }
    }

    .green-background {
      width: 216px;
    }
  }
}
