{% from 'macros/button.html' import button, button_submit %}
<div class="row">
  <div class="span8 disburse">
    <form data-bind="submit: submit">
      <h3>Kevin's Fantasy Football 2012</h3>
      <h4>Campaign ended 07/11/2012 <span class="green">(successful)</span></h4>
      <h1>$7,798.41 <span class="total">of $10,430.52</span></h1>
      <h2>Remains for Disbursement</h2>
      <div class="inset-box">
        <ul class="inline-block">
          {% for i in range(1, 5) %}
          <li>
            <div class="avatar avatar-65">
              <div class="layer overlay"></div>
              <div class="layer content">$50</div>
              <img alt="Tux" src="{{ url_for('static', filename='img/mock/tux.png') }}" />
            </div>
            <div class="content">
              <h3 class="name">Tux</h3>
              <input name="amount_{{ i }}" type="number" min="1" value="2000" />
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="actions">
          {{ button_submit("Update Totals", color="green", size="small") }}
          {% include "snippets/paging.html" %}
        </div>
      </div>
    </form>
  </div>
  <div class="span3 disburse-receipt">
    <div class="inset-box">
      <table class="recipients">
        <tbody>
          <tr>
            <td class="name">Kevin Berger</td>
            <td class="value">$2000.00</td>
          </tr>
          <tr>
            <td class="name">Collin Watson</td>
            <td class="value">$450.00</td>
          </tr>
          <tr>
            <td class="name">Sung Kim</td>
            <td class="value">$50.00</td>
          </tr>
          <tr>
            <td class="name">Patrick Murck</td>
            <td class="value">$60.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <table class="fees">
      <tbody>
        <tr>
          <td class="name">Subtotal (3%)</td>
          <td class="value">$76.80</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3>Total Disbursement</h3>
    <h1 class="green">$2,636.80</h1>
    <div class="actions">
      {{ button_submit("Disburse", color="green") }}
    </div>
  </div>
</div>
