body {
    background-color: #f5f5f5;
    font-family: Georgia;
}

.rounded {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.rounded-top {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
            border-top-left-radius: 6px;

    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
}

.rounded-bottom {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;

    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
}

.circle {
    font-family: Knockout;
    font-size: 1.8em;
}

.circle .content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.circle a.content {
    color: #fff;
    text-decoration: none;
}

.circle a.content:hover {
    text-decoration: none;
}

.circle-22 {
    position: relative;
    height: 22px;
    width: 22px;
    padding: 11px;
    text-align: center;
    color: #fff;
    background-color: #ccc;

    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
            border-radius: 22px;
}

.circle-22 .content {
    font-size: 1.2em;
    line-height: 1.6em;
}

.circle-30 {
    position: relative;
    height: 30px;
    width: 30px;
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color: #000;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

.light-text p {
    color: #999;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  margin-bottom: 0px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 0px 3px 3px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 0px 3px 3px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 0px 3px 3px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0px;
    margin-right: 15px;
}

.input-indent {
    margin-left: 25px;
}

header .global {
    background-color: #464747;
    -webkit-box-shadow: 0px 0px 20px #666;
       -moz-box-shadow: 0px 0px 20px #666;
            box-shadow: 0px 0px 20px #666;
    margin-bottom: 20px;
}

header .logo {
    margin-top: 45px;
}

header .logo h2 {
    font-size: 3em;
}

header nav {
    text-align: center;
    margin-top: 80px;
}

header nav a,
header nav a:hover,
header nav .sep {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
}

header nav .sep {
    margin: 0px 10px;
}

header .logo h2 {
    color: #fff;
    font-weight: normal;
}

header .avatar {
    margin-top: 20px;
    text-align: right;
}

header .avatar .wrapper {
    margin-top: 25px;
    margin-bottom: -25px;
    padding: 5px;
    background-color: #fff;
    display: inline-block;
}

header .avatar img {
    max-width: 100px;
    max-height: 100px;
}

header .welcome {
    margin-top: 45px;
    color: #fff;
}

header .page {
    margin-top: 70px;
}

header .page h1,
header .page h2 {
    text-align: center;
    font-weight: normal;
}

header h1,
section h1 {
    font-family: Knockout;
}

header .page h1 {
    text-transform: uppercase;
    font-size: 5.7em;
}

header .page h2 {
    color: #aaa;
}

section {
    padding: 100px 0px 50px;
}

header .page h2,
section h2 {
    font-family: Georgia;
    font-size: 1.6em;
    font-style: italic;
    font-weight: normal;
    text-transform: lowercase;
}

section h2 {
    margin-bottom: 30px;
}

section.alternate,
section.alternate .divider {
    background-color: #eaeaea;
}

section .header h1 {
    position: absolute;
    top: 2px;
    left: 0px;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

section .circle-30 {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: -30px;
    font-size: 1.2em;
}

section .circle-30 h1 {
    margin: 0px;
    line-height: 1.5em;
}

section .header {
    position: relative;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 30px;
}

section h3,
section .h3 {
    line-height: 1em;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Arial;
}

section label .h3 {
    margin: 20px 0px 15px;
}

section h4,
section .h4 {
    font-family: Knockout;
    font-weight: normal;
    font-size: 1.85em;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.1em;
    margin: 0px 0px 10px;
}

section h3,
section .h3,
section h4,
section .h4 {
    vertical-align: middle;
}

section h3 span,
section .h3 span,
section h4 span,
section .h4 span,
section span.info {
    font-family: Georgia;
    text-transform: lowercase;
    font-style: italic;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    letter-spacing: normal;
    vertical-align: middle;
    line-height: 1em;
    margin-left: 5px;
}

input.block {
    display: block;
    width: 95%;
}

input.block.input-indent {
    width: 90%;
}

section .divider {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -3px;
    display: block;
    height: 6px;
    width: 120px;
    background-color: #f5f5f5;
    margin: 0px auto;
}

section hr {
    border-top: 1px solid #ccc;
    margin: 35px 0px;
}

form p {
    font-style: italic;
}

section .cell {
    padding: 30px 0px 0px;
}

section .row.description {
    margin-bottom: 20px;
}

section .row.product {
    padding: 20px 0px;
}

section .row.no-next {
    text-align: center;
}

section .row.no-next h2 a {
    color: inherit;
    text-decoration: none;
}

section .row.no-next h2 a:hover {
    text-decoration: none;
}

form section .campaign-media,
form section .campaign-background {
    display: block;
    background-color: #939393;
    color: #fff;
    text-align: center;
}

form section .campaign-media h4,
form section .campaign-background h4 {
    margin: 0px;
}

form section .campaign-background {
    height: 169px;
}

form section .campaign-background h4 {
    line-height: 169px;
}

form section .campaign-media {
    height: 70px;
    width: 100px;
    margin-bottom: 20px;
}

form section .campaign-media h4 {
    line-height: 70px;
}

form label {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    font-style: italic;
    font-size: 1.2em;
}

form label.block {
    display: block;
}

label .add-on {
    font-style: normal;
}

form label .h3,
form label .h4 {
    font-style: normal;
}

form label {
    line-height: 2.5em;
}

form label.inline input {
    margin-top: 4px;
    margin-right: 15px;
}

form label.inline span {
    margin-right: 20px;
}

#no-3 h3,
#no-3 h4,
#no-3 hr {
    width: 400px;
}

#no-3 input[type="radio"] {
    margin-top: -2px;
}

#no-3 {
    padding-bottom: 0px;
}

#no-3 .inline input[type="radio"] {
    margin-top: 15px;
}

section.complete {
    padding: 0px;
    text-align: center;
}

section.complete hr {
    margin: 50px 0px 60px;
}

section.complete h1 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    margin-bottom: 40px;
}

section.complete p {
    padding: 0px 160px;
    font-size: 1.2em;
    font-style: italic;
    color: #999;
    line-height: 1.6em;
}

section.complete .private,
section.complete .save {
    color: #999;
    margin: 30px 0px;
}

section.complete .save a {
    color: #999;
    text-decoration: underline;
    font-size: 1.2em;
    font-style: italic;
}

.theme-button {
    margin: 4px 10px;
    text-align: center;
    font-family: Knockout;
    position: relative;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    width: 150px;
    height: 40px;
    -webkit-box-shadow: -2px 2px 4px #ccc;
       -moz-box-shadow: -2px 2px 4px #ccc;
            box-shadow: -2px 2px 4px #ccc;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}

.theme-button a,
.theme-button input,
.theme-button button {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: Knockout;
    font-size: 1.7em;
    line-height: 1.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.theme-button a:hover,
.theme-button input:hover,
.theme-button button:hover {
    text-decoration: none;
}

.theme-button-xlarge {
    width: 380px;
    height: 80px;
    -webkit-border-radius: 35px;
       -moz-border-radius: 35px;
            border-radius: 35px;
}

.theme-button.theme-button-xlarge a,
.theme-button.theme-button-xlarge input,
.theme-button.theme-button-xlarge button {
    font-size: 3.2em;
    line-height: 1.9em;
}

.theme-button-inset {
    background-color: #c75045;
    color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 142px;
    height: 32px;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
}

.theme-button-xlarge .theme-button-inset {
    left: 4px;
    top: 4px;
    width: 372px;
    height: 72px;
    -webkit-border-radius: 33px;
       -moz-border-radius: 33px;
            border-radius: 33px;
}

.theme-grey {
    color: #ccc;
}

.theme-background-grey {
    background-color: #ccc;
}

.theme-green {
    color: #AECF6C;
}

.theme-background-green {
    background-color: #AECF6C;
}

.theme-red {
    color: #c75045;
}

.theme-background-red {
    background-color: #c75045;
}

.theme-teal {
    color: #739b9e;
}

.theme-background-teal {
    background-color: #739b9e;
}

#no-1 {
    padding-top: 50px;
}
