{% from 'macros/button.html' import button, button_submit %}
{% extends "layout.html" %}

{% block id %}campaign-details{% endblock %}

{% block header %}
{% include "snippets/header.html" %}
<div class="actions">
  <div class="container">
    <div class="row">
      <div class="span12">
        <a class="cog" href="javascript:void(0)">Manage your campaign</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<section id="campaign-header">
  <div class="container">
    <div class="img"></div>
    <div class="row">
      <div class="span5">
        <div class="campaign-name">
          <h1 class="upper">Kevin Berger's Fantasy Futbol 2012</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="campaign-meta">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="social">
          <input type="button"
                 class="no-border circle circle-16 twitter-white-16 inline-block" />
          <input type="button"
                 class="no-border circle circle-16 twitter-white-16 inline-block" />
        </div>
        <div class="organizer">
            <div>Organized by</div>
            <div class="upper bold">
              <span class="teal">Kevin Berger</span>
              <span class="sep">|</span>
              <span>Member since</span>
              <span class="date">05.06.2012</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="campaign-status">
  <div class="container">
    <div class="row">
      <div class="span5 media">
        <div class="primary">
          <img alt="soccer01" src="{{ url_for('static', filename='img/mock/soccer-01.jpg') }}" />
        </div>
        <div class="secondary">
          <a href="javascript:void(0)">
            <img alt="soccer01" src="{{ url_for('static', filename='img/mock/soccer-02.jpg') }}" />
          </a>
          <a href="javascript:void(0)">
            <img alt="soccer01" src="{{ url_for('static', filename='img/mock/soccer-03.jpg') }}" />
          </a>
          <a href="javascript:void(0)">
            <img alt="soccer01" src="{{ url_for('static', filename='img/mock/soccer-04.jpg') }}" />
          </a>
        </div>
      </div>
      <div class="span7 status">
        <div class="halo">
          <div class="span4">
            <div class="goal">
              <h2>Goal</h2>
              <h2 class="green">$20,000</h2>
            </div>
            <hr />
            <div class="metrics">
              <div class="span2">
                <h3>Current Total</h3>
                <div class="total teal">$250</div>
              </div>
              <div class="span2">
                <h3>Poold In</h3>
                <div class="poold">14</div>
              </div>
              <div class="clearfix"></div>
            </div>
            <hr />
            <div class="time">
              <h3>Time Left:</h3>
              <span class="days">0 Days</span>
              <span class="hours">0 Hours</span>
              <span class="minutes">0 Min</span>
              <span class="seconds teal-background white">:24</span>
            </div>
          </div>
          <div class="span2 call-to-action">
            <div class="pie">
              <div id="pie-chart"></div>
            </div>
            {{ button("Cough it up", inset_class="green-background") }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="campaign-description">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="bold upper">Description</div>
        <hr class="heading" />
        <div>
          <span class="bold">Start Date:</span>
          <span class="date">08/09/2012</span>
          <span class="sep"></span>
          <span class="bold">End Date:</span>
          <span class="date">08/20/2012</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="span4">
        <div class="bold upper">Amazon.com Product Details</div>
        <hr class="heading" />
        <div class="bold">Xbox 360 Kinect Bundle</div>
        <div class="dark-gray">from <span class="bold">$385</span></div>
        <br />
        <div class="">
          <a href="javascript:void(0)">Check out the details at Amazon.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="campaign-social">
  <div class="container">
    <div class="row">
      <div class="span12">
      <ul class="nav nav-tabs upper bold">
        <li class="active">
          <a href="#campaign-invitees" data-toggle="tab">Invitees</a>
        </li>
        <li>
          <a href="#campaign-messages" data-toggle="tab">Message Board</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>
<section id="campaign-invitees" class="active">
  <div class="container">
    <div class="row light-gray-background">
      <div class="span12">
        <div class="actions pull-right">
          {{ button("Promote", class="theme-button-small", inset_class="teal-background") }}
        </div>
        <div class="filters">
          <input type="button" class="active clean" value="All (255)" />
          <span class="sep"></span>
          <input type="button" class="clean" value="Backers (65)" />
          <span class="sep"></span>
          <input type="button" class="clean" value="Not Yet Responded (190)" />
        </div>
        <hr />
        <div class="invitees">
          <ul>
            {% for i in range(0, 4) %}
            <li>
              <div class="relative avatar">
                <div class="layer overlay"></div>
                <div class="layer center amount">$50</div>
                <img alt="Tux" src="{{ url_for('static', filename='img/mock/tux.png') }}" />
              </div>
              <div class="name">Tux</div>
            </li>
            {% endfor %}
            {% for i in range(0, 12) %}
            <li>
              <div class="avatar">
                <img alt="Tux" src="{{ url_for('static', filename='img/mock/tux.png') }}" />
              </div>
              <div class="name">Tux</div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <hr />
        <div class="paging">
          <input type="button" class="prev clean" value="«" />
          <input type="button" class="active clean" value="1" />
          <span class="sep">|</span>
          <input type="button" class="clean" value="2" />
          <span class="sep">|</span>
          <input type="button" class="clean" value="3" />
          <input type="button" class="next active clean" value="»" />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="campaign-messages">
  <div class="container">
    <div class="row light-gray-background">
      <div class="span12">
        Messages
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block init %}
<script src="{{ url_for('static', filename='script/g.raphael.min.js') }}"></script>
<script>PI.page = PI.CampaignDetails.render();</script>
{% endblock %}
