pytz==2012d
PyYAML==3.10
psycopg2==2.4.5
blinker==1.2
itsdangerous==0.17
Flask==0.9
flask-sqlalchemy==0.16
flask-script==0.3.3
flask-wtf==0.8
-e git+https://github.com/collinwat/flask-login.git#egg=Flask-Login
-e git://github.com/miracle2k/webassets.git#egg=webassets
flask-assets==0.7
yuicompressor==2.4.7
