pytz==2012d
PyYAML==3.10
psycopg2==2.4.5
blinker==1.2
itsdangerous==0.17
Flask==0.9
flask-sqlalchemy==0.16
flask-script==0.3.3
flask-login==0.1.3
flask-wtf==0.8
flask-assets==0.7
webassets==0.8.dev
yuicompressor==2.4.7
